html, body {
    margin: 0;
    height: 100%;
}

header {
    background-color: #46838F;
    display: block;
    position:relative;
    width:auto;
    height: 40px;
    border-bottom: 2px solid black;
    font-family: Helvetica, sans-serif;
}

h1#name-plate {
    height: 22px;
    width: 200px;
    position: absolute;
    bottom: 9px;
    left: 15px;
    font-size: 20px;
    margin: 0;
    vertical-align: middle;
}

a#contact-me {
    height: 17px;
    width: 80px;
    position: absolute;
    bottom: 11px;
    right: 15px;
    font-size: 15px;
    text-align: right;
}

div#menu-bar {
    position: relative;
    width: 100px;
    height: 100%;
    background-color: #46838F;
    float: left;
    font-family: Helvetica, sans-serif;
    border-right: 2px solid #000000;
}

button {
    color: black;
    background-color: #75ABEB;
    width: 90px;
    height: 30px;
    text-align: center;
    margin: 5px;
    left: auto;
}

div#main-page {
    margin-top: -20px;
    margin-left: 100px;
    background-color: #DEDEDE;
    width: auto;
    height: 100%;
    font-family: Helvetica, sans-serif;
}

.main-page-text {
    display: none;
}

h2, p {
    display: inherit;
    font-family: inherit;
}